<h3>{{viewTitle}}</h3>

<form action="/message" method="POST" autocomplete="off">
<imput type="hidden" name="_id" value="{{message._id}}">
    <dir class="font-group" style="padding-left: 0px;">
        <label>Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="{{message.fullName}}">
        <div class="text-danger">
            {{message.fullNameError}}</div>
    </dir>

    <dir class="font-group" style="padding-left: 0px;">
        <label>Message</label>
        <textarea rows="5" cols="50" name="message" type="text" class="form-control" placeholder="Comment here" value="{{message.message}}"></textarea>

        <div class="text-danger">
            {{message.messageError}}</div>
    </dir>

    <div class="form-group" style="">
        <button type="submit" class="btn btn-info"> Send</button>
        <a class="btn btn-light" href="/message/list" style=" border: solid 1px gray;"> Cancel</a>
    </div>
    </div>
</form>